<a href="https://colab.research.google.com/github/heugyu/coin_deep_learning/blob/master/BTC_RNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 구글 드라이브 마운트 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np

import torch
import torch.nn as nn
import torch.optim as optim
from torch.autograd import Variable

import matplotlib
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler

In [2]:
# 구글 드라이브 csv read
data = pd.read_csv('/content/drive/My Drive/DATA/BITFINEX_BTCUSD_30.csv')
print(f'데이터 shape : {data.shape}')
data.head()

데이터 shape : (20595, 51)

         time         open    high  ...  A/D Sell MA  OnBalanceVolume  MF
0  1546300800  3832.628624  3834.7  ...          NaN              NaN NaN
1  1546302600  3825.400000  3846.2  ...          NaN       191.438842 NaN
2  1546304400  3835.048699  3840.1  ...          NaN       326.099798 NaN
3  1546306200  3836.000000  3836.0  ...          NaN        84.791066 NaN
4  1546308000  3827.600000  3834.2  ...          NaN      -117.325489 NaN

[5 rows x 51 columns]

In [3]:
print(len(data))

copy_data = data[['open', 'high', 'low', 'close', 'H', 'M', 'L', 'RES', 'SUP','EMA_34', 
                  'short_line', 'VWAP', '34 EMA', 'Volume', 'Volume.1', 'A/D Volume', 
                  'OnBalanceVolume', 'MF']].dropna()

print(len(copy_data))

20595
20547

In [4]:
#   MINMAX scale
    #   가격 
    #   볼륨
    #   OBV
    #   MF
copy_data.head()

          open    high         low  ...    A/D Volume  OnBalanceVolume        MF
34  3831.92922  3843.4  3831.92922  ...  5.071767e+07      1170.750609 -0.146694
35  3834.70000  3834.7  3824.00000  ...  2.840402e+08      1011.387768 -0.170236
36  3828.00000  3828.5  3812.00000  ...  4.049030e+08       842.309805 -0.208677
37  3823.10000  3824.9  3788.10000  ...  1.077691e+09       254.565471 -0.230207
38  3798.20000  3817.0  3797.10000  ...  2.876835e+08       339.296826 -0.210459

[5 rows x 18 columns]

In [5]:
#   스케일러 설정 
price_scaler = MinMaxScaler()
vol_scaler = MinMaxScaler()
obv_scaler = MinMaxScaler()
mf_scaler = MinMaxScaler()

#   스케일 데이터 fitting
price_scaler.fit(np.array(copy_data[['open', 'high', 'low', 'close', 'H', 'M', 'L', 'RES', 'SUP', 'EMA_34', 'short_line', 'VWAP', '34 EMA']]).reshape(-1, 1))
vol_scaler.fit(np.array(copy_data[['Volume', 'Volume.1', 'A/D Volume']]).reshape(-1, 1))
obv_scaler.fit(np.array(copy_data[['OnBalanceVolume']]).reshape(-1, 1))
mf_scaler.fit(np.array(copy_data[['MF']]).reshape(-1, 1))

MinMaxScaler(copy=True, feature_range=(0, 1))

In [6]:
#   학습데이터 0 ~ 1 스케일 
copy_data[['open', 'high', 'low', 'close', 'H', 'M', 'L', 'RES', 'SUP', 'EMA_34', 'short_line', 'VWAP', '34 EMA']] = price_scaler.transform(np.array(copy_data[['open', 'high', 'low', 'close', 'H', 'M', 'L', 'RES', 'SUP', 'EMA_34', 'short_line', 'VWAP', '34 EMA']]).reshape(-1, 13))
copy_data[['Volume', 'Volume.1', 'A/D Volume']] = vol_scaler.transform(np.array(copy_data[['Volume', 'Volume.1', 'A/D Volume']]).reshape(-1, 3))
copy_data[['OnBalanceVolume']] = obv_scaler.transform(np.array(copy_data[['OnBalanceVolume']]).reshape(-1, 1))
copy_data[['MF']] = mf_scaler.transform(np.array(copy_data[['MF']]).reshape(-1, 1))

print(len(copy_data.columns) - 1)
copy_data.head()

17

        open      high       low  ...  A/D Volume  OnBalanceVolume        MF
34  0.278402  0.279236  0.278402  ...    0.000027         0.332053  0.387974
35  0.278604  0.278604  0.277826  ...    0.000150         0.330703  0.371774
36  0.278117  0.278153  0.276954  ...    0.000213         0.329271  0.345322
37  0.277761  0.277892  0.275218  ...    0.000568         0.324292  0.330506
38  0.275952  0.277318  0.275872  ...    0.000152         0.325010  0.344095

[5 rows x 18 columns]

In [0]:
#   하이퍼 파라미터 설정 
EPOCHS = 1000
INPUT_SIZE = 18     # input dimension
HIDDEN_SIZE = 36    # hidden dimension
BATCH_SIZE = 64
LENGTH = 7
LR = 0.01

In [8]:
#   학습 데이터 생성
x = np.array(copy_data)
y = np.array(copy_data[['close']])

x_data = []
y_data = []

for i in range(0, len(y) - LENGTH):
    _x = x[i : i + LENGTH]
    _y = y[i + LENGTH]
    # print(f'{_x} -> {_y}')
    x_data.append(_x)
    y_data.append(_y)

#   train/test split
train_size = int(len(y_data) * 0.8)
test_size = len(y_data) - train_size

#   학습 데이터 텐서로 변형
x_train = torch.Tensor(np.array(x_data[0:train_size])).cuda()
y_train = torch.Tensor(np.array(y_data[0:train_size])).cuda()
x_test = torch.Tensor(np.array(x_data[train_size:len(x_data)])).cuda()
y_test = torch.Tensor(np.array(y_data[train_size:len(y_data)])).cuda()

x_train = Variable(x_train)
y_train = Variable(y_train)
x_test = Variable(x_test)
y_test = Variable(y_test)


print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

torch.Size([16432, 7, 18])
torch.Size([16432, 1])
torch.Size([4108, 7, 18])
torch.Size([4108, 1])

In [0]:
# LSTM 

class LSTM(nn.Module):
    def __init__(self, num_classes, input_size, hidden_size, num_layers, seq_length):
        super(LSTM, self).__init__()
        self.num_classes = num_classes
        self.num_layers = num_layers
        self.input_size = input_size
        self.hidden_size = hidden_size
        self.seq_length = seq_length

        self.lstm = nn.LSTM(
                input_size=input_size, 
                hidden_size=hidden_size,
                num_layers=num_layers,
                batch_first=True
                )
        
        # Fully connected layer
        self.fc = nn.Linear(hidden_size, num_classes)

    def forward(self, x):
        # Intitialize hidden and cell states
        h_0 = Variable(torch.zeros(self.num_layers, x.size(0), self.hidden_size))
        c_0 = Variable(torch.zeros(self.num_layers, x.size(0), self.hidden_size))

        # Propagte inpur through LSTM
        _, (h_out, _) = self.lstm(x, (h_0, c_0))
        h_out = h_out.view(-1, self.hidden_size)
        out = self.fc(h_out)
        return out

In [0]:
# Instantiate RNN model
lstm = LSTM(1, INPUT_SIZE, HIDDEN_SIZE, 1, LENGTH)

# Set loss and optimizer function
criterion = nn.MSELoss()
optimizer = optim.Adam(lstm.parameters(), lr=LR)

# Train the model
for epoch in range(EPOCHS):
    outputs = lstm(x_train)
    optimizer.zero_grad()

    #obtain the loss function
    loss = criterion(outputs, y_train)
    loss.backward()
    optimizer.step()
    
    if epoch%100 == 0:
        print(f'Epoch : {epoch}, loss : {loss.data.item()}')